/* CSS declarations go here */
.dot {
  background: black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 10px;
}
.box {
  border: solid 1px rgba(34, 36, 38, .15);
}
#login-dropdown-list {
  left: -148px;
}
#mainHeader {
  min-height: 400px;
  padding-top: 6em;
}
.center {
  text-align: center;
}
.buttons {
  margin-top: 4em;
}
#mainButton {
  margin-right: 50px;
}
.findMoreGames {
  padding-top: 5em;
}
.highscores {
  padding: 5em 0em;
}
.spaceHeader {
  margin-top: 50px;
}


/* board */
/* https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */
.boardSquare {
  border: 1px solid rgba(34, 36, 38, .45);
  position: relative;
  text-align: center;
  width: 50%;
}
.boardSquare:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.boardSquare .content {
  position: absolute;
  border-radius: 50%;
  height: 70%;
  width: 70%;
  margin-top: 15%;
  margin-left: 15%;
}
